.rectangle {
    width: 200px; 
    height: 200px;
    background-color: #af4c4c; 
    border: 2px solid #333;
}

.largerectangle {
    opacity: 0%;
    width: 10%; 
    height: 100000%;
    border: 2px solid #333;
}

h1, h2 {
    text-align: center;
}

.pages {
    margin-top: 10%;
    position: relative;
}

.itembox {
    margin-left: 30%;
    display: flex;
    align-items: center;
    gap: 10%;
}

p {
    max-width: 20%;
    border: 2px solid #333;
    padding: 1em;
}

#page2 {
    display: none;
}

#page3 {
    display: none;
}

#page4 {
    display: none;
}

.scroll-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    opacity: 0%;
    z-index: 10;
    pointer-events: auto; /* Allow scrolling & overlay interaction */
}

.sliders {
    display: grid;
    width: 30%;
    border: 2px solid black;
    z-index: 11;
    padding: 2em;
    text-align: center;
}
  
.output {
    width: 55%;
    border: 2px solid black;
    text-align: center;
    margin-left: 4em;
    padding: 1em;
}

#fin .container {
    width: 400px;
}

.chart-container {
    width: 50%;
    align-items: center;
}

.matrixcontainer {
    width: 100%;
    height: 100%;
}

#buttons, .option {
    position: relative;
    z-index: 20; /* Higher than .scroll-overlay */
    pointer-events: auto; /* Ensure buttons remain clickable */
}

#buttons:hover {
    color: white;
    cursor: pointer;
    z-index: 11; /* Higher than .scroll-overlay */
    pointer-events: auto; /* Allow button clicks */
  }

.largerectangle, .rectangle {
    pointer-events: none;
}

#bar_caption {
    display : flex;
}